* {
	
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
}

body {
	
	background-color:  #F24464;
}
a {

	text-decoration: none;
	color: white;
}

h1 {

	margin-left: 5%;
	color: #27F293;
	padding: 3%;
	letter-spacing: 10px;
}

/*--------------- Header y menu ---------------*/
header {
	
	width: 100%; 
	background-color: #591931;
	display: inline-block;
	height: 120px;
}

#container-logo {
	
	float: left;
    width: 45%;
    padding: 1% 0 0 3%;
	margin: auto;
	position: absolute;
}

#menu {
	
	width: 30%;
	float: left;
	margin-left: 600px;
}

/* Buttons */

/* Menu buttons */
.btn-dropdown {
	
	background: none;
	margin: 10% 7% 0 0;
	position: relative;
	float: left;
	font-size: 14px;
	padding: 2%;
	color:  white;
	border: none;
	z-index: 1;
}

.btn-dropdown:after {
	
	background: none repeat scroll 0 0 transparent;
	content: "";
	display: block;
	height: 2px;
	left: 25%;
	background: #27F293;
	color: white;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;	
}

.btn-dropdown:hover::after { 
   
	width: 100%; 
	left: 0; 
}
 
#list-dropdown-content-comp {

	position: absolute;
	display: none;
	color: white;
    background-color: #731D3C;
    width: 92%;
    padding: 40% 9% 16% 19%;
    margin: 0 auto;
    left: -17px;
    top: -12px;
    z-index: -1;
}

.btn-dropdown:hover #list-dropdown-content-comp{

	display: block;
}

.link-consola {

	padding: 2%;
	display:block;
	text-align: center;
	width:85%;
}

.btn-dropdown:hover #list-dropdown-content-comp .link-consola:hover {

	background-color: #4C2BD0;
}

/* Coffee Button */ 

.btn-coffee {

	position: relative;
  	display: block;
  	color: white;
	margin: 2% 0 0 0;
	border: 2px solid #1FA680;
  	border-radius: 50px;
 	padding: 1%;
	overflow: hidden;
	width: 15%;
	text-decoration: none;
	text-align: center;
}

.btn-coffee::before{

	background: #1FA680;
	background-image: url('rsc/take away.png');
 	background-size: 50px 50px;
 	content: "";
 	position: absolute;
  	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	transition: all 0.6s ease;
	width: 0%;
	height: 100%;
}

.btn-coffee:hover::before{
	
  width: 100%;
}

/* -------------- Contenedor base -------------- */
.cont-base {
	
	width: 90%;
	margin: 3% auto 7% auto;
}

/* -------------- Contenedor filtros -------------- */
#container-juegos {

	width: 90%;
	margin: 0 auto;
}

.container-rectangular {

	width: 80%;
	margin: 2% auto;
	position: relative;
	border-radius: 15px;
	background: #F24464;
	box-shadow:  -9px 9px 18px #ce3a55, 9px -9px 18px #ff4e73;
	display: flex;
}

.portada-juego {
	
	width: 30%;
	margin: 3%;
}

.texto-tarjeta {
	
	width: 50%;
	margin: 2%;
	display: inline-block;
	font-size: 16px;
}

#container-rectangular-overlay {
	
	position: absolute;
	bottom: 0;
	left: 0;	
	right: 0;	
	background-color: #731D3C;
	overflow: hidden;
	border-radius: 15px;
  	width: 0;
 	height: 100%;
  	transition: .5s ease;
}

.container-rectangular:hover #container-rectangular-overlay {
	
	width: 100%;
}

.cont-overlay {
	
	margin: 3%;
	width: 100%;
	height: 70%;
}

.texto-overlay {
	
	color: white;
	margin: 0 3% 0 0 ;
	width: 50%;
	height: 100%;
	font-size: 11px;
	float: left;
	overflow: auto;
}

.trailer_juego {
	
	width: 40%;
	float: left;
}
  
  
#back_tt_btn {

	position: fixed;
	display: none;
 	z-index: 1;
  	font-size: 18px;
  	color: white;
	margin: 2% 0 0 0;
	border: 2px solid #1FA680;
	background: none;
  	border-radius: 50px;
 	padding: 1%;
	overflow: hidden;
	width: 10%;
	text-decoration: none;
	right: 45px;
	text-align: center;
}


#back_tt_btn:hover {
	
	animation-name: hover-boton;
	animation-duration: 1s;
}

@keyframes hover-boton {

  from {background-color: none;}
  to {background-color:  #1FA680;}
}

/* ------------------- FOOTER ------------------- */
footer {

	width: 100%;
	background-color: #132126;
}

#content-footer {

	width: 100%;
}



